{% extends "base.html" %}

{% block content %}
    <div class="units-row">
        <div class="unit-30 block">
            <h2>1. Go to <a href="http://www.pathguy.com/cg4.htm">pathguy.com/cg4.htm</a></h2>
            <p><i>and generate your character! Then just copy all text in window opened after generation</i></p>
            <img src="/static/blog_d20_transparent.png" style="height:200px" />
        </div>
        <div class="unit-10">
            <h1>THEN</h1>
        </div>
        <div class="unit-60 block">
            <h2>2. Paste generated character here</h2>

            <form method="post" action="/generate">
              {% csrf_token %}
              <table>
                {% for field in form %}
                  <tr>
                    <th>{{field.label_tag}} {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}</th>
                    <td>
                      {{ field }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
              <hr/>
              <button type="submit" class="btn-green width-50">Get my nice character sheet</button>
            </form>
        </div>
    </div>
{% endblock %}